body{
    margin:0;
    overflow:hidden;
    font-family:Arial;
    background:black;
}

#game{
    width:100vw;
    height:100vh;
    position:relative;
    overflow:hidden;
    background:linear-gradient(#6ec6ff,#9be15d);
}

/* HUD */

#hud{
    position:absolute;
    top:15px;
    left:15px;
    z-index:100;
    color:white;
    font-weight:bold;
    text-shadow:2px 2px 5px black;
}

#score{
    font-size:28px;
}

#phase{
    margin-top:8px;
    font-size:22px;
}

#mission{
    margin-top:8px;
    font-size:18px;
}

/* BARRA */

#progressContainer{
    width:300px;
    height:25px;
    background:#444;
    position:absolute;
    top:20px;
    right:20px;
    border-radius:20px;
    overflow:hidden;
    z-index:200;
}

#progressBar{
    width:0%;
    height:100%;
    background:lime;
}

/* SOL */

#sun{
    width:120px;
    height:120px;
    background:yellow;
    border-radius:50%;
    position:absolute;
    top:40px;
    right:80px;
    box-shadow:0 0 60px yellow;
}

/* FUMAÇA */

#smoke{
    width:60px;
    height:60px;
    background:rgba(200,200,200,0.5);
    border-radius:50%;
    position:absolute;
    right:120px;
    bottom:420px;
    animation:smoke 4s infinite;
}

@keyframes smoke{

    0%{
        transform:translateY(0);
        opacity:1;
    }

    100%{
        transform:translateY(-200px);
        opacity:0;
    }
}

/* CHÃO */

#ground{
    width:100%;
    height:120px;
    background:#5a381e;
    position:absolute;
    bottom:0;
}

/* PERSONAGEM */

#player{
    width:70px;
    height:110px;
    position:absolute;
    left:100px;
    bottom:120px;
    transition:0.1s;
}

/* CORPO */

#player::before{
    content:"";
    width:55px;
    height:70px;
    background:#1565c0;
    position:absolute;
    bottom:0;
    left:8px;
    border-radius:15px;
    border:3px solid black;
}

/* CABEÇA */

#player::after{
    content:"";
    width:50px;
    height:50px;
    background:#f5c79a;
    position:absolute;
    top:0;
    left:10px;
    border-radius:50%;
    border:3px solid black;
    box-shadow:
    0 8px 0 #222 inset;
}


/* ÁRVORE */

#tree{
    width:120px;
    height:220px;
    background:green;
    border-radius:40px;
    position:absolute;
    left:450px;
    bottom:120px;
}

/* LÁTEX */

#latex{
    width:35px;
    height:35px;
    background:white;
    border-radius:50%;
    position:absolute;
    left:490px;
    bottom:230px;
    box-shadow:0 0 15px white;
}

/* FÁBRICA */

#factory{
    width:250px;
    height:260px;
    background:gray;
    border:5px solid black;
    border-radius:10px;
    position:absolute;
    right:40px;
    bottom:120px;
}

#chimney{
    width:50px;
    height:120px;
    background:#444;
    position:absolute;
    top:-100px;
    right:30px;
}

/* MÁQUINA */

#machine{
    width:120px;
    height:120px;
    background:darkslategray;
    border:5px solid black;
    border-radius:10px;
    position:absolute;
    right:330px;
    bottom:120px;
}

/* RESÍDUO */

#waste{
    width:60px;
    height:60px;
    background:purple;
    border-radius:50%;
    position:absolute;
    left:700px;
    bottom:120px;
}

/* CONTROLES */

.controls{
    width:100%;
    position:absolute;
    bottom:20px;
    display:flex;
    justify-content:space-around;
    z-index:300;
}

button{
    width:90px;
    height:90px;
    border:none;
    border-radius:50%;
    font-size:35px;
    opacity:0.85;
}

/* TELA FINAL */

#winScreen{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    position:absolute;
    top:0;
    left:0;
    z-index:999;
    display:none;
    color:white;
    text-align:center;
    padding-top:200px;
}

#winScreen h1{
    font-size:50px;
}

#winScreen p{
    width:80%;
    margin:auto;
    font-size:24px;
  }
#player{
    animation:walk 0.5s infinite alternate;
}

@keyframes walk{

    from{
        transform:translateY(0px);
    }

    to{
        transform:translateY(-4px);
    }
}
